.overview-data {
  padding-bottom: 25px; 
  font-size: 70px; 
  text-align: center;
}

.country-confirmed {
  font-size: 55px; 
  text-align: center;
  padding-top: 30px;
  padding-left: 10px;
}

.country-death {
  font-size: 40px; 
  text-align: center;
  padding-top: 40px;
  padding-left: 10px;
  color: #ff4242;
}

.fa-facebook{
  font-size: 25px;
  color: dodgerblue;
  padding: 10px;
}
.fa-instagram{
  font-size: 25px;
  color: deeppink;
  padding: 10px;
}
.fa-weibo{
  font-size: 25px;
  color: orange;
  padding: 10px;
}
.fa-envelope{
  font-size: 25px;
  color: mintcream;
  padding: 10px;
}

.container {
  padding-top: 35px;
  padding-bottom: 35px;
}

.daily-increase {
  padding-top: 20px;
  font-size: 40px; 
  text-align: center;
}

.overview-title {
  padding-bottom: 20px; 
  text-align: center;
}

.btn-group-wrap {
  text-align: center;
}

div.btn-group {
  margin: 0 auto; 
  text-align: center;
  width: inherit;
  display: inline-block;
}
